p, h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-100per)
}

pre {
    --color-canvas-subtle: #f6f8fa;
}

pre {
    background: var(--color-canvas-subtle);
    box-sizing: border-box;
    padding: 0.5vw 1vw;
}

code {
    font-size: 0.7vw;
}

h1 {
    font-size: 1.1vw;
}

h2 {
    font-size: 0.9vw;
}