; [submodule "services/welcomebook/src"]
; 	path = services/welcomebook/src
; 	url = https://github.com/ZababurinSergei/welcomebook.git
; [submodule "services/rules/src"]
; 	path = services/rules/src
; 	url = https://github.com/ZababurinSergei/rules.git
[submodule "metrics/dockprom"]
	path = metrics/dockprom
	url = https://github.com/stefanprodan/dockprom
[submodule "JavaScripture"]
	path = JavaScripture
	url = https://github.com/nkronlage/JavaScripture.git
[submodule "services/docs"]
	path = services/docs
	url = https://github.com/nkronlage/JavaScripture.git
