:host {
    display: flex;
    align-self: flex-end;
}

.rules-relation_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.9375vw;
    background: #6E8FB0;
    border-radius: 1.04167vw 0px 0px 1.04167vw;
    align-items: center;
    height: 5vw;
    width: min(10.41667vw, 15.20833vw);
    cursor: pointer;
    transition: all 0.3s ease;
}

.rules-relation_container_img {
    width: 1.71875vw;
    height: 1.71875vw;
}

.rules-relation_container_name {
    width: 3.59375vw;
    height: 1.45833vw;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.04167vw;
    line-height: 1.45833vw;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: all 0.3s ease;
}

.rules-relation_container.active {
    width: min(11.35417vw, 15.20833vw);
    background: white;
    transition: all 0.3s ease;
}

.rules-relation_container_img.active, .rules-relation_container_name.active {
    filter: invert(35%) sepia(5%) saturate(3255%) hue-rotate(169deg) brightness(96%) contrast(87%);
    transition: all 0.3s ease;
}
