.form {
	border: 0.10417vw solid gray;
	display: flex;
	flex-direction: column;
	padding: 0.3125vw;
	width: 13.54167vw;
	margin-top: 0.52083vw;
}

.form__title {
	font-size: 0.88542vw;
	font-weight: bold;
	border-bottom: 0.20833vw solid rgba(0, 0, 0, 0.3);
	margin-bottom: 0.52083vw;
}

.form__input {
	margin-bottom: 0.52083vw;
}

.form__input-label {
	font-size: 0.78125vw;
	font-weight: bold;
	display: block;
}

.form__input-input {
}

.form__textarea {
	margin-bottom: 0.52083vw;
}

.form__textarea-label {
	font-size: 0.78125vw;
	font-weight: bold;
	display: block;
}

.form__textarea-textarea {
	resize: vertical;
}

.form__buttons {
	margin-bottom: 0.52083vw;
	display: flex;
	gap: 0.98958vw;
	text-align: center;
}

.buttons__cancellation {
	background-color: white;
	color: blue;
	border-color: blue;
	border-radius: 0.20833vw;
	outline: none;
}

.buttons__save {
	background-color: blue;
	border-color: blue;
	color: white;
	border-radius: 0.20833vw;
	outline: none;
}
