.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1.5625vw 1.30208vw;
	box-sizing: border-box;
	width: 20.83333vw;
	height: 19.79167vw;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0.41667vw 0.9375vw -0.3125vw rgba(24, 39, 75, 0.12);
	-webkit-backdrop-filter: blur(0.26042vw);
	        backdrop-filter: blur(0.26042vw);
	border-radius: 0.625vw;

}

.container-name {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	position: relative;
}

.feedback-icon {
	position: absolute;
	width: 1.35417vw;
	height: 1.35417vw;
	left: 0;
	top: calc(37% - 0.26042vw);
	box-sizing: border-box;
	margin-left: 0.52083vw;
}

.container-name label {
	margin-bottom: 0.26042vw;
}

.container-name input {
	width: 100%;
	margin-bottom: 1.5625vw;
	height: 2.34375vw;
	margin-right: 0;
	box-sizing: border-box;
	border-radius: 0.46875vw;
	border: unset;
	padding: 0px 0px 0px 1.875vw;
}

.container-information {
	width: 18.22917vw;
	height: 6.25vw;
	background: #FFFFFF;
	border: 0.05208vw solid #FFFFFF;
	border-radius: 0.46875vw;
}

.container-information-textarea {
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	background: rgb(255, 255, 255);
	border: 0.05208vw solid rgb(255, 255, 255);
	border-radius: 0.46875vw;
	padding: 0.52083vw;
}

.container-information-textarea::-moz-placeholder {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 0.625vw;
	line-height: 0.72917vw;
	color: #666666;
	box-sizing: border-box;
}

.container-information-textarea::placeholder {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 0.625vw;
	line-height: 0.72917vw;
	color: #666666;
	box-sizing: border-box;
}

.form__buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 3.125vw;
	gap: 2.08333vw;
}
