.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1.5625vw 1.30208vw;
	box-sizing: border-box;
	width: 20.83333vw;
	height: 19.79167vw;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0.41667vw 0.9375vw -0.3125vw rgba(24, 39, 75, 0.12);
	-webkit-backdrop-filter: blur(0.26042vw);
	        backdrop-filter: blur(0.26042vw);
	border-radius: 0.625vw;

}

.container-name {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.container-name label {
	margin-bottom: 0.26042vw;
}

.container-name input {
	width: 18.22917vw;
	padding: 0px;
	margin-bottom: 1.5625vw;
	height: 2.34375vw;
}

.container-information {
	width: 18.22917vw;
	height: 6.25vw;
	background: #FFFFFF;
	border: 0.05208vw solid #FFFFFF;
	border-radius: 0.46875vw;
}

.container-information-textarea {
	width: 100%;
	padding: 0;
	box-sizing: border-box;
	height: 6.25vw;
}

.form__buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 3.125vw;
	gap: 2.08333vw;
}
