<template id="system">
    <api-substrate slot="system" class="system">
        <section>
            <div class="main-top"></div>
            <div id="shadow" class="main-center">
                <div slot ="grid__header" class="grid__header">
                    <div class="grid__header_relation">
                        <slot name="header_relation"></slot>
                    </div>
                    <div class="grid__header_substrate">
                        <slot name="header_substrate"></slot>
                    </div>
                    <div class="grid__header_property">
                        <slot name="header_property"></slot>
                    </div>
                </div>
                <div slot ="grid__body" class="grid__body">
                    <div id="relation">
                        <slot name="body_relation"></slot>
                    </div>
                    <div id="substrate">
                        <div class="body_before">
                            <slot name="body_before"></slot>
                        </div>
                        <div class="body_main">
                            <slot name="body_substrate"></slot>
                        </div>
                        <div class="body_after">
                            <slot name="body_after"></slot>
                        </div>
                    </div>
                    <div id="property">
                        <slot name="body_property"></slot>
                    </div>
                </div>
                <div slot ="grid__footer" class="grid__footer">
                    <div class="grid__footer_relation">
                        <slot name="footer_relation"></slot>
                    </div>
                    <div class="grid__footer_substrate">
                        <slot name="footer_substrate"></slot>
                    </div>
                    <div class="grid__footer_property">
                        <slot name="footer_property"></slot>
                    </div>
                </div>
            </div>
            <div class="main-bottom"> </div>
        </section>

        <api-header data-template slot="header_relation">Relation</api-header>
        <api-header data-template slot="header_substrate">Link</api-header>
        <api-header data-template slot="header_property">Property</api-header>
        <api-relation slot="body_relation">
            <section id="api-relation">
                <div class="api-relation">
                    <div class="relation"></div>
                </div>
            </section>
        </api-relation>
        <api-main data-swap slot="body_substrate"></api-main>
        <api-property slot="body_property">
            <section id="api-property">
                <div class="api-property">
                    <div class="property"></div>
                </div>
            </section>
        </api-property>
        <api-footer slot="footer_relation">
            <div class="footer-time">
                <slot name="footer_relation_time"></slot>
            </div>
            <api-time slot="footer_relation_time">
                <p class="timer">Relation</p>
            </api-time>
        </api-footer>
        <api-footer slot="footer_substrate">
            <p class="grid__footer_substrate_title">Zababurin Sergey</p>
            <p class="grid__footer_substrate_mail">Email: <a href="mailto:zababurins@vk.com">zababurins@vk.com</a></p>
            <p class="grid__footer_substrate_tel">Phone: <a href="tel:+79531437072">+7 953-143-70-72</a></p>
        </api-footer>
        <api-footer slot="footer_property">
            <div class="footer-time">
                <slot name="footer_property_time"></slot>
            </div>
            <api-time slot="footer_property_time">
                <p class="timer">Property</p>
            </api-time>
        </api-footer>
    </api-substrate>
</template>