<template>
    <api-substrate
        data-csslight
        slot="system"
        class="system"
    >
        <section id="system">
            <div class="main-top"></div>
            <div id="shadow" class="main-center">
                <div class="grid__main" slot ="grid__main">
                    <div slot ="grid__header" class="grid__header">
                        <div class="grid__header_relation">
                            <slot name="header_relation"></slot>
                        </div>
                        <div class="grid__header_substrate">
                            <slot name="header_substrate"></slot>
                        </div>
                        <div class="grid__header_property">
                            <slot name="header_property"></slot>
                        </div>
                    </div>
                    <div slot ="grid__body" class="grid__body--margin-top_0">
                        <div id="relation">
                            <slot name="body_relation"></slot>
                        </div>
                        <div id="substrate">
                            <div class="body_before">
                                <slot name="body_before"></slot>
                            </div>
                            <div class="body_main">
                                <slot name="body_substrate"></slot>
                            </div>
                            <div class="body_after">
                                <slot name="body_after"></slot>
                            </div>
                        </div>
                        <div id="property">
                            <slot name="body_property"></slot>
                        </div>
                    </div>
                    <div slot ="grid__footer" class="grid__footer">
                        <div class="grid__footer_relation">
                            <slot name="footer_relation"></slot>
                        </div>
                        <div class="grid__footer_substrate">
                            <slot name="footer_substrate"></slot>
                        </div>
                        <div class="grid__footer_property">
                            <slot name="footer_property"></slot>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-bottom"> </div>
        </section>

        <api-header data-template slot="header_relation"></api-header>
        <api-header data-template slot="header_substrate"></api-header>
        <api-header data-template slot="header_property"></api-header>
        <api-relation slot="body_relation">
            <section id="api-relation">
                <div class="api-relation">
                    <div class="relation"></div>
                </div>
            </section>
        </api-relation>
        <api-main data-swap slot="body_substrate"></api-main>
        <api-property slot="body_property">
            <section id="api-property">
                <div class="api-property">
                    <div class="property"></div>
                </div>
            </section>
        </api-property>
        <api-footer slot="footer_relation"></api-footer>
        <api-footer data-attachShadow slot="footer_substrate"></api-footer>
        <api-footer slot="footer_property"></api-footer>
    </api-substrate>
</template>