<template id="welcomebook">
    <body>
    <div class="welcome__book">
        <slot name="welcome-header"></slot>
        <slot name="fer-scroll"></slot>
        <slot name="welcome-menu"></slot>
        <slot name="welcome-animation"></slot>
        <div class="welcome-body">
            <section class='slider parallax-container-on' data-id="0">
                <slot name="welcome-section-0"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="1">
                <slot name="welcome-section-1"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="2">
                <slot name="welcome-section-2"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="3">
                <slot name="welcome-section-3"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="4">
                <slot name="welcome-section-4"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="5">
                <slot name="welcome-section-5"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="6">
                <slot name="welcome-section-6"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="7">
                <slot name="welcome-section-7"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="8">
                <slot name="welcome-section-8"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="9">
                <slot name="welcome-section-9"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="10">
                <slot name="welcome-section-10"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="11">
                <slot name="welcome-section-11"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="12">
                <slot name="welcome-section-12"></slot>
            </section>
        </div>
        <div
                data-id="0"
                data-section="0_0"
                class="welcome-body_section_0_0"
                style="display: none"
        >
            <section class="container__section" data-id="0">
                <slot name="welcome-section_0_0"></slot>
            </section>

        </div>
        <div
                data-id="1"
                data-section="1_0"
                class="welcome-body_section_1_0"
                style="display: none"
        >
            <section data-id="1">
                <slot name="welcome-section_1_0"></slot>
            </section>
        </div>
        <div
                data-id="2"
                data-section="2_0"
                class="welcome-body_section_2_0"
                style="display: none"
        >
            <section class="layer" data-id="2">
                <slot name="welcome-section_2_0"></slot>
            </section>
        </div>
    </div>

    <welcome-menu
            data-services-path="rules"
            data-css-shadow="rules_0_0"
            slot="welcome-menu"
    >
        <div class="container">
            <div class="slider">
                <div class="square"></div>
            </div>
            <div class="body">
                <slot name="button-0"></slot>
                <slot name="button-1"></slot>
                <slot name="button-2"></slot>
                <slot name="button-3"></slot>
                <slot name="button-4"></slot>
            </div>
        </div>
        <fer-button
                data-services-path="rules"
                data-event="Schema"
                slot="button-0"
                data-id="0"
                data-type="welcome-menu"
                data-css-shadow="menu"
        >
            <p>Схемы</p>
        </fer-button>

        <fer-button
                data-services-path="rules"
                slot="button-1"
                data-event="Rules"
                data-id="1"
                data-type="welcome-menu"
                data-css-shadow="menu"
        >
            <p>Правила</p>

        </fer-button>

        <fer-button
                data-services-path="rules"
                slot="button-2"
                data-event="Manifest"
                data-id="2"
                data-type="welcome-menu"
                data-css-shadow="menu"
        >
            <p>Манифесты</p>
        </fer-button>

        <fer-button
                data-services-path="rules"
                slot="button-3"
                data-event="Region"
                data-id="3"
                data-type="welcome-menu"
                data-css-shadow="menu"
        >
            <p>Регион</p>
        </fer-button>

        <fer-button
                data-services-path="rules"
                slot="button-4"
                data-event="Domain"
                data-id="4"
                data-type="welcome-menu"
                data-css-shadow="menu"
        >
            <p>Домен</p>
        </fer-button>
    </welcome-menu>

    <welcome-section
            data-services-path="rules"
            data-id="0"
            data-to="0_0"
            data-css-shadow="rules_0_0"
            slot="welcome-section-0"
    >
        <div class='images'></div>
        <div class='body--padding_70px_100px'>
            <div class="container">
                <div>
                    <slot name="fer-table_0"></slot>
                </div>
            </div>
        </div>

        <fer-table
                data-services-path="rules"
                data-template="table_0"
                data-id="0"
                data-to="0_0"
                slot="fer-table_0"
        >
            <div class="auction-data">
                <div class="auction-data__table">
                    <div class="auction-data__table_header">
                        <div class="auction-data__table_header_td">Домен</div>
                        <div class="auction-data__table_header_td">Название</div>
                        <div class="auction-data__table_header_td">Версия схемы</div>
                        <div class="auction-data__table_header_td background-transparent"></div>
                        <div class="auction-data__table_header_td background-transparent menu-button">
                            <img class="auction-data__table_header_img" src="./this/icons/table/plus.svg"/>
                        </div>
                    </div>
                    <div class="auction-data__table_body"></div>
                    <div class="auction-data__table_footer">
                        <input class="auction-data__table_footer_td" name="domain"/>
                        <input class="auction-data__table_footer_td" name="name"/>
                        <input class="auction-data__table_footer_td" name="version"/>
                    </div>
                </div>
            </div>
        </fer-table>
    </welcome-section>

    <welcome-section
            data-services-path="rules"
            data-id="1"
            data-to="1_0"
            data-css-shadow="rules_0_0"
            slot="welcome-section-1"
    >
        <div class='images'></div>
        <div class='body--padding_70px_100px'>
            <div class="container">
                <div>
                    <slot name="fer-table_1"></slot>
                </div>
            </div>
        </div>

        <fer-table
                data-services-path="rules"
                data-template="table_1"
                data-id="1"
                data-to="1_0"
                slot="fer-table_1"
        >
            <div class="auction-data">
                <div class="auction-data__table">
                    <div class="auction-data__table_header">
                        <div class="auction-data__table_header_td">id</div>
                        <div class="auction-data__table_header_td">Описание</div>
                        <div class="auction-data__table_header_td">Версия схемы</div>
                        <div class="auction-data__table_header_td">Версия правила</div>
                        <div class="auction-data__table_header_td background-transparent"></div>
                        <div class="auction-data__table_header_td background-transparent menu-button">
                            <img class="auction-data__table_header_img" src="./this/icons/table/plus.svg"/>
                        </div>
                    </div>
                    <div class="auction-data__table_body"></div>
                    <div class="auction-data__table_footer">
                        <input class="auction-data__table_footer_td empty background-transparent" name="id"/>
                        <input class="auction-data__table_footer_td" name="description"/>
                        <input class="auction-data__table_footer_td" name="schema_version"/>
                        <input class="auction-data__table_footer_td" name="rules_version"/>
                    </div>
                </div>
            </div>
        </fer-table>
    </welcome-section>

    <welcome-section
            data-services-path="rules"
            data-id="2"
            data-to="2_0"
            data-css-shadow="rules_0_0"
            slot="welcome-section-2"
    >
        <div class='images'></div>
        <div class='body--padding_70px_100px'>
            <div class="container--justify-content_space-between">
                <div class="wrapper__rules-manifest">
                    <div class="table__fer-rules">
                        <slot name="fer-table_2"></slot>
                    </div>
                </div>
            </div>
        </div>
        <fer-table
                data-services-path="rules"
                data-template="table_2"
                data-id="2"
                data-to="2_0"
                slot="fer-table_2"
        >
            <div class="auction-data">
                <div class="auction-data__table">
                    <div class="auction-data__table_header">
                        <div class="auction-data__table_header_td">ID</div>
                        <div class="auction-data__table_header_td">Описание</div>
                        <div class="auction-data__table_header_td">Версия манифеста</div>
                        <div class="auction-data__table_header_td">Версия схемы</div>
                        <div class="auction-data__table_header_td">Регион</div>
                        <div class="auction-data__table_header_td">Статус</div>
                        <div class="auction-data__table_header_td background-transparent"></div>
                        <div class="auction-data__table_header_td background-transparent menu-button">
                            <img class="auction-data__table_header_img" src="./this/icons/table/plus.svg"/>
                        </div>
                    </div>
                    <div class="auction-data__table_body"></div>
                    <div class="auction-data__table_footer">
                        <input class="auction-data__table_footer_td empty background-transparent" name="id"/>
                        <input class="auction-data__table_footer_td" name="description"/>
                        <input class="auction-data__table_footer_td" name="version_manifest"/>
                        <input class="auction-data__table_footer_td" name="version_schema"/>
                        <input class="auction-data__table_footer_td" name="region"/>
                        <input class="auction-data__table_footer_td" name="status"/>
                    </div>
                </div>
            </div>
        </fer-table>
    </welcome-section>

    <welcome-section
            data-services-path="rules"
            data-id="3"
            data-to="3_0"
            data-css-shadow="rules_0_0"
            slot="welcome-section-3"
    >
        <div class='images'></div>
        <div class='body--padding_70px_100px'>
            <div class="container">
                <div>
                    <slot name="fer-table_3"></slot>
                </div>
            </div>
        </div>

        <fer-table
                data-services-path="rules"
                data-template="table_3"
                data-id="3"
                data-to="3_0"
                slot="fer-table_3"
        >
            <div class="auction-data">
                <div class="auction-data__table">
                    <div class="auction-data__table_header">
                        <div class="auction-data__table_header_td">Название</div>
                        <div class="auction-data__table_header_td">Описание</div>
                        <div class="auction-data__table_header_td background-transparent"></div>
                        <div class="auction-data__table_header_td background-transparent menu-button">
                            <img class="auction-data__table_header_img" src="./this/icons/table/plus.svg"/>
                        </div>
                    </div>
                    <div class="auction-data__table_body"></div>
                    <div class="auction-data__table_footer">
                        <input class="auction-data__table_footer_td" name="name"/>
                        <input class="auction-data__table_footer_td" name="description"/>
                    </div>
                </div>
            </div>
        </fer-table>
    </welcome-section>

    <welcome-section
            data-services-path="rules"
            data-id="4"
            data-to="4_0"
            slot="welcome-section-4"
            data-css-shadow="rules_0_0"
    >
        <div class='images'></div>
        <div class='body--padding_70px_100px'>
            <div class="container">
                <div>
                    <slot name="fer-table_4"></slot>
                </div>
            </div>
        </div>

        <fer-table
                data-services-path="rules"
                data-template="table_3"
                data-id="4"
                data-to="4_0"
                slot="fer-table_4"
        >
            <div class="auction-data">
                <div class="auction-data__table">
                    <div class="auction-data__table_header">
                        <div class="auction-data__table_header_td">Название</div>
                        <div class="auction-data__table_header_td">Описание</div>
                        <div class="auction-data__table_header_td background-transparent"></div>
                        <div class="auction-data__table_header_td background-transparent menu-button">
                            <img class="auction-data__table_header_img" src="./this/icons/table/plus.svg"/>
                        </div>
                    </div>
                    <div class="auction-data__table_body"></div>
                    <div class="auction-data__table_footer">
                        <input class="auction-data__table_footer_td" name="name"/>
                        <input class="auction-data__table_footer_td" name="description"/>
                    </div>
                </div>
            </div>
        </fer-table>
    </welcome-section>

    <welcome-section
            data-services-path="rules"
            data-css-shadow="rules_0_0"
            data-id="0_0"
            slot="welcome-section_0_0"
    >
        <div class='images'></div>
        <div class='body--padding_70px_100px'>
            <div class="container--flex-direction_row--gap_20px">
                <div class="main__fer-rules">
                    <div class="data__fer-rules">
                        <slot name="fer-form_0_0"></slot>
                    </div>
                    <div class="textEditor--flex-grow_1">
                        <slot name="fer-codemirror"></slot>
                    </div>
                </div>
                <div class="container__rules-front">
                    <div class="textEditor-sidebar">
                        <div class="wrapper__rules-front">
                            <div class="fer-region">
                                <slot name="fer-region"></slot>
                            </div>
                            <div>
                                <p class="title__fer-rules">Ошибки проверки полей</p>
                                <slot name="fer-region-table"></slot>
                            </div>
                        </div>
                        <div class="wrapper__button-fer-rules">
                            <div
                                    class="button__fer-rules"
                                    slot="fer-button"
                            >
                                <slot name="fer-form__cancel"></slot>
                            </div>
                            <div
                                    class="button__fer-rules"
                                    slot="fer-button"
                            >
                                <slot name="fer-form__save"></slot>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <fer-form
                data-services-path="rules"
                data-css-shadow="rules_0_0"
                slot="fer-form_0_0"
        >
            <div class="container__schema">
                <div class="input">
                    <label for="schema">Домен</label>
                    <input id="schema" placeholder="1"/>
                </div>
                <div class="input">
                    <label for="region">Название схемы</label>
                    <input id="region" placeholder="showcase.booking mo 1.1.2"/>
                </div>
            </div>
        </fer-form>

        <fer-codemirror
                slot="fer-codemirror"
                data-services-path="rules"
        >
            <div class="codemirror-editor">
                <textarea class="fer-codemirror" id="fer-codemirror"></textarea>
            </div>
        </fer-codemirror>

        <fer-region slot="fer-region">
            <div class="input--margin-bottom_12px">
                <label for="version">Версия</label>
                <input id="version" placeholder="1.1.2"/>
            </div>
            <div class="input--margin-bottom_12px">
                <label for="title">Title</label>
                <input id="title" placeholder="Медицинская организация"/>
            </div>
            <textarea
                    placeholder="Описание"
                    class="fer-codemirror-description--margin-bottom_12px"
            ></textarea>
        </fer-region>

        <fer-table
                data-services-path="rules"
                data-template="table_0"
                data-event="region"
                data-id="0_0"
                slot="fer-region-table"
        >
            <div class="auction-data">
                <div class="auction-data__table --grid-template-rows_1.97917vw_1fr">
                    <div class="auction-data__table_header">
                        <div class="auction-data__table_header_td">Код</div>
                        <div class="auction-data__table_header_td">Сообщение</div>
                        <div class="auction-data__table_header_td">How to fix</div>
                        <div class="auction-data__table_header_td background-transparent"></div>
                        <div  data-event="rules" class="auction-data__table_header_td background-transparent menu-button">
                            <img class="auction-data__table_header_img" src="./this/icons/table/plus.svg"/>
                        </div>
                    </div>
                    <div class="auction-data__table_body"></div>
                </div>
            </div>
        </fer-table>

        <fer-button
                data-css-shadow="rules"
                data-services-path="rules"
                data-type="fer-form"
                data-id="cancel"
                data-event="rules"
                data-to="0"
                slot="fer-form__cancel"
        >
            <p class="cancel">Отмена</p>
        </fer-button>

        <fer-button
                data-css-shadow="rules"
                data-services-path="rules"
                data-type="fer-form"
                data-id="save"
                data-event="rules"
                data-to="0"
                slot="fer-form__save"
        >
            <p class="save">Сохранить</p>
        </fer-button>
    </welcome-section>

    <welcome-section
            data-services-path="rules"
            data-css-shadow="rules_0_0"
            data-id="1_0"
            slot="welcome-section_1_0"
    >
        <div class='images'></div>
        <div class='body--padding_70px_100px'>
            <div class="container--flex-direction_row--gap_20px">
                <div class="main__fer-rules">
                    <div class="data__fer-rules">
                        <slot name="fer-form_0_0"></slot>
                    </div>
                    <div class="textEditor--flex-grow_1">
                        <slot name="fer-codemirror"></slot>
                    </div>
                </div>
                <div class="container__rules-front">
                    <div class="textEditor-sidebar">
                        <div class="wrapper__rules-front">
                            <div class="fer-region">
                                <slot name="fer-region"></slot>
                            </div>
                            <div class="validator__rules-front">
                                <p class="title__fer-rules">Валидаторы</p>
                                <slot name="fer-tree"></slot>
                            </div>
                        </div>
                        <div class="wrapper__button-fer-rules">
                            <div
                                    class="button__fer-rules"
                                    slot="fer-button"
                            >
                                <slot name="fer-form__cancel"></slot>
                            </div>
                            <div
                                    class="button__fer-rules"
                                    slot="fer-button"
                            >
                                <slot name="fer-form__save"></slot>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <fer-form
                data-services-path="rules"
                data-css-shadow="rules_0_0"
                slot="fer-form_0_0"
        >
            <div class="container__schema">
                <div class="input">
                    <label for="id">Id</label>
                    <input id="id" placeholder="1"/>
                </div>
                <div class="input">
                    <label for="name">Название схемы</label>
                    <input id="name" placeholder="Схема Мо"/>
                </div>
            </div>
        </fer-form>

        <fer-codemirror
                slot="fer-codemirror"
                data-services-path="rules"
        >
            <div class="codemirror-editor">
                <textarea class="fer-codemirror" id="fer-codemirror"></textarea>
            </div>
        </fer-codemirror>

        <fer-region slot="fer-region">
            <div class="input--margin-bottom_12px">
                <label for="version">Версия</label>
                <input id="version" placeholder="1.1.2"/>
            </div>
            <textarea
                    placeholder="Описание"
                    class="fer-codemirror-description--margin-bottom_12px"
            ></textarea>
        </fer-region>

        <fer-tree slot="fer-tree">
            <div
                    id="tree"
            ></div>
        </fer-tree>
        <fer-table
                data-services-path="rules"
                data-template="table_0"
                data-id="modal_0_0"
                slot="fer-region-table"
        >
            <div class="auction-data">
                <div class="auction-data__table --grid-template-rows_1.97917vw_1fr">
                    <div class="auction-data__table_header">
                        <div class="auction-data__table_header_td">Домен</div>
                        <div class="auction-data__table_header_td">Название</div>
                        <div class="auction-data__table_header_td">Версия схемы</div>
                        <div class="auction-data__table_header_td background-transparent"></div>
                        <div class="auction-data__table_header_td background-transparent menu-button">
                            <img class="auction-data__table_header_img" src="./this/icons/table/plus.svg"/>
                        </div>
                    </div>
                    <div class="auction-data__table_body"></div>
                </div>
            </div>
        </fer-table>

        <fer-button
                data-css-shadow="rules"
                data-services-path="rules"
                data-type="fer-form"
                data-id="cancel"
                data-to="1"
                slot="fer-form__cancel"
        >
            <p class="cancel">Отмена</p>
        </fer-button>

        <fer-button
                data-css-shadow="rules"
                data-services-path="rules"
                data-type="fer-form"
                data-id="save_rules"
                data-to="1"
                slot="fer-form__save"
        >
            <p class="save">Сохранить</p>
        </fer-button>
    </welcome-section>

    <welcome-section
            data-services-path="rules"
            data-css-shadow="rules_0_0"
            data-id="2_0"
            slot="welcome-section_2_0"
    >
        <div class='images'></div>
        <div class='body--padding_70px_100px'>
            <div class="container--gap_20px--justify-content_space-between">
                <div class="wrapper__rules-manifest">
                    <div class="conteiner__fer-manifest">
                        <div class="navigation">
                            <slot name="welcome-menu_0_0"></slot>
                        </div>
                        <div class="description__manifest">
                            <slot name="fer-form_input"></slot>
                        </div>
                    </div>
                    <div class="table__fer-rules">
                        <p class="title__rules_manifest">Правила</p>
                        <slot name="fer-table_2_0"></slot>
                        <div class="manifest-button__add">
                            <slot name="manifest-button__add"></slot>
                        </div>
                    </div>
                </div>
                <div class="menu__fer-rules">
                    <div class="button_cancel">
                        <slot name="manifest-button__cancel"></slot>
                    </div>
                    <div class="button_save">
                        <slot name="manifest-button__save"></slot>
                    </div>
                </div>
            </div>
        </div>

        <fer-hash
                data-services-path="rules"
                data-id="h_0"
                data-hash="general"
                data-type="rules_0_0"
                data-css-shadow="rules_0_0"
                slot="welcome-menu_0_0"
                class="active"
        >
            <p>Основное</p>
        </fer-hash>
        <fer-hash
                data-services-path="rules"
                data-id="h_1"
                data-type="rules_0_0"
                data-hash="verification"
                data-css-shadow="rules_0_0"
                slot="welcome-menu_0_0"
        >
            <p>Верификация</p>
        </fer-hash>
        <fer-hash
                data-services-path="rules"
                data-id="h_2"
                data-hash="execution"
                data-type="rules_0_0"
                data-css-shadow="rules_0_0"
                slot="welcome-menu_0_0"
        >
            <p>Применение</p>
        </fer-hash>

        <fer-form
                data-services-path="rules"
                data-css-shadow="rules_0_0"
                slot="fer-form_input"
        >
            <div class="container__manifest">
                <div class="info__fer-front">
                    <div class="input">
                        <label for="schema">Схема</label>
                        <input id="schema" placeholder="1"/>
                    </div>
                    <div class="input">
                        <label for="region">Регион</label>
                        <input id="region" placeholder="showcase.booking mo 1.1.2"/>
                    </div>
                    <div class="input">
                        <label for="version">Версия</label>
                        <input id="version" placeholder="1.1.2"/>
                    </div>
                </div>

                <div class="editor__manifest">
                    <textarea
                            placeholder="Описание"
                            class="fer-codemirror-description"
                    ></textarea>
                </div>
            </div>
        </fer-form>
        <fer-table
                data-services-path="rules"
                data-template="table_4"
                data-id="2_0"
                data-to="2"
                slot="fer-table_2_0"
        >
            <div class="auction-data">
                <div class="auction-data__table">
                    <div class="auction-data__table_header">
                        <div class="auction-data__table_header_td">id</div>
                        <div class="auction-data__table_header_td">Описание</div>
                        <div class="auction-data__table_header_td">Версия схемы</div>
                        <div class="auction-data__table_header_td">Версия манифеста</div>
                    </div>
                    <div class="auction-data__table_body"></div>
                    <div class="auction-data__table_footer">
                        <input class="auction-data__table_footer_td empty background-transparent" name="id"/>
                        <input class="auction-data__table_footer_td" name="description"/>
                        <input class="auction-data__table_footer_td" name="schema_version"/>
                        <input class="auction-data__table_footer_td" name="rules_version"/>
                    </div>
                </div>
            </div>
        </fer-table>


        <fer-button
                data-css-shadow="rules"
                data-services-path="rules"
                data-type="fer-form"
                data-id="cancel"
                slot="manifest-button__add"
        >
            <p class="save">Добавить правило</p>
        </fer-button>

        <fer-button
                data-css-shadow="rules"
                data-services-path="rules"
                data-type="fer-form"
                data-id="cancel"
                slot="manifest-button__cancel"
        >
            <p class="cancel">Отмена</p>
        </fer-button>

        <fer-button
                data-css-shadow="rules"
                data-services-path="rules"
                data-type="fer-form"
                data-id="save"
                slot="manifest-button__save"
        >
            <p class="save">Сохранить</p>
        </fer-button>
    </welcome-section>

    <div slot="welcome-animation" class="animation">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
    </body>
</template>
