 div.bid_item {
    border-radius: 0.25vw;
    border: solid rgba(118, 148, 244, 0.45);;
    box-sizing: border-box;
    margin: 0 0 0 0;
    width: 100%;
    min-height: 19.5vw;
}

 div.bid_item label {
    display: flex;
    border-top-right-radius: .5vw;
    border-top-left-radius: .5vw;
    /* width: 100%; */
    /* -moz-text-align-last: start; */
    /* text-align-last: start; */
    margin-left: 0.2vw;
}

div.bid_item label input {
    border-radius: 0.2vw;
    margin-right: 0.25vw;
    margin-top: 0.25vw;
}

div.bid_item div.content {
    /*flex-grow: 1;*/
    background-color: transparent;
}

div.bid_item div.content div.info {
    overflow: hidden;
    padding: 0;
    width: 10vw;
    min-width: 10vw;
    box-sizing: border-box
}

div.bid_item div.content div.info p.preview {
    -moz-text-align-last: left;
    text-align-last: left;
    margin: 0.25vw 0 0 0.25vw;
}

div.bid_item div.content div.info div.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: self-start;
}

div.bid_item div.content div.info div.wrapper div.timestamp_info, .instrument {
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;
    margin-left: 0.25vw;
    margin-top: 0.25vw;
    font-size: 0.8vw;
}

.instrument_data {
    font-size: 0.6vw;
    align-self: center;
    padding-left: 0.2vw;
}

div.bid_item div.content div.info div.wrapper div.timestamp_info p {
    text-align: left;
    -moz-text-align-last: left;
    text-align-last: left;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 0
}

div.bid_item div.content div.info div.wrapper button.stat {
    font-family: Roboto, serif;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: .25vw;
    padding: 0;
    margin: 0.25vw 0 0 0.25vw;
}

div.bid_item div.content div.info div.wrapper div.result {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    width: inherit;
    margin-top: 0.25vw;
    border-bottom-right-radius: 0.2vw;
    border-top-right-radius: 0.2vw;
    overflow: hidden;
}

div.bid_item div.content div.info div.wrapper div.result div.result-item {
    background: rgba(118, 148, 244, 0.45);
    justify-content: space-between;
    min-width: 2vw;
    min-height: 2.3vw;
}

div.bid_item div.content div.orderbook {
    width: 100%;
}

div.bid_item div.content div.orderbook div {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    min-width: 50%;
}

div.bid_item div.content div.orderbook div p {
    margin: 0 0 0.25vw 0;
    /*-moz-text-align-last: center;*/
    /*text-align-last: center*/
}

div.bid_item div.content div.orderbook div div.bid, section div#substrate div.bid_item div.content div.orderbook div div.ask {
    display: flex;
    flex-direction: column
}

div#total {
    display: flex;
    min-height: 0;
    max-height: 30vw;
    overflow: overlay;
    border-radius: .5vw;
    width: 100%;
    white-space: pre-wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

div#total p {
    display: flex;
    /*min-width: 20vw;*/
    box-sizing: border-box;
    padding: 0;
    margin: 1vw;
    align-self: self-start;
    box-shadow: inset 0vw 0vw 1vw 0px rgba(80, 144, 69, .2901960784);
    background-color: rgba(118, 244, 221, .1294117647)
}

.content {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.orderbook:last-child {
    margin-right: 0.5vw;
    min-width: 9vw;
    justify-content: space-between;
}

.orderbook {
    margin-top: 0.25vw;
}

#fs, #st, #ft {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.orderbook_title {
    text-align: start;
}

.bit {
    margin-top: 0.25vw;
}