:host {
	position: fixed;
	top: calc(var(--main-height) - 6vw);
	left: 50%;
	z-index: 15;
	width: 0.05208vw;
	--color: white
}

body {
	background-color: #322B2B;
}

.arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*transform: rotate(0);*/
	cursor: pointer;
}

.arrow span {
	display: block;
	width: 1.5vw;
	height: 1.5vw;
	border-bottom: 0.20833vw solid var(--color);
	border-right: 0.20833vw solid var(--color);
	transform: rotate(45deg);
	margin: -0.52083vw;
	animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
	animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-1.04167vw, -1.04167vw);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(1.04167vw, 1.04167vw);
	}
}