.welcome-body {
    margin: 0;
    color: white;
    background: #222;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.parallax-container-off {
    position: absolute;
    top: 100vh;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: 100%;
}

.parallax-container-on {
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: 100%;
}

.welcome-body_section_1_0 {
    display: flex;
    flex-direction: column;
}