.scroll {
    height: -moz-max-content;
    height: max-content;
    align-self: center;
    width: -moz-fit-content;
    width: auto;
    margin: 0;
    --word: 'СТРУКТУРА КОМПАНИИ';
    --main-bg-color: blue;
    --font-family: 'Rubik';
    --text-color: #FFFFFF;
    --font-size: 0.72917vw;
    --font-weight: 500;
    --line-height: 0.88542vw;
    --stroke-width: 0;
    --stroke-color: black;
    /*--easing: ease-in-out;*/
    --animation-direction: normal;
    --padding: 0;
    --margin: 1vh;
    --letter-spacing: 0em;
    --opacity: 0;
}

.animation {
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: var(--count);
    animation-direction: var(--animation-direction);
}

.animation2 {
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: var(--count);
    animation-direction: var(--animation-direction);
}

.animation3 {
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: var(--count);
    animation-direction: var(--animation-direction);
}

.animation4 {
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: var(--count);
    animation-direction: var(--animation-direction);
}

.animation5 {
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: var(--count);
    animation-direction: var(--animation-direction);
}

.scrollOut {
    animation-name: outPage;
}


.scrollIn {
    animation-name: inPage;
}

.scrollTopDown {
    animation-name: scrollTop;
}

@keyframes outPage {
    from {
        transform: scale(1) translateY(0);
    }
    to {
        transform: scale(1) translateY(100vh);
    }
}


@keyframes inPage {
    from {
        transform: scale(1) translateY(0);
    }
    to {
        transform: scale(1) translateY(-100vh);
    }
}

@keyframes scrollTop {
    from {
        transform: scale(1) translateY(-15vh);
    }
    to {
        transform: scale(1) translateY(0);
        transition: transform 1s;
    }
}