/* search box */
.search-box {
  position: absolute;
  top: 0.52083vw;
  right: 2.60417vw;
  padding-right: 0.41667vw;
  padding-bottom: 0.52083vw;
  line-height: normal;
  font-size: 0.625vw;
}

.search-box img {
  width: 1.04167vw;
  vertical-align: top;
}

.search-input {
  display: inline;
  visibility: hidden;
  width: 0;
  padding: 0.10417vw;
  height: 1.5em;
  outline: none;
  background: transparent;
  border: 0.05208vw #0af;
  border-style: none none solid none;
  vertical-align: bottom;
}

.search-input-edge {
  display: none;
  width: 0.05208vw;
  height: 0.26042vw;
  background-color: #0af;
  vertical-align: bottom;
}

.search-result {
  position: absolute;
  display: none;
  height: 31.25vw;
  width: 100%;
  padding: 0;
  margin-top: 0.26042vw;
  margin-left: 1.25vw;
  background: white;
  box-shadow: 0.05208vw 0.05208vw 0.20833vw rgb(0,0,0);
  white-space: nowrap;
  overflow-y: scroll;
}

.search-result-import-path {
  color: #aaa;
  font-size: 0.625vw;
}

.search-result li {
  list-style: none;
  padding: 0.10417vw 0.20833vw;
}

.search-result li a {
  display: block;
}

.search-result li.selected {
  background: #ddd;
}

.search-result li.search-separator {
  background: rgb(37, 138, 175);
  color: white;
}

.search-box.active .search-input {
  visibility: visible;
  transition: width 0.2s ease-out;
  width: 15.625vw;
}

.search-box.active .search-input-edge {
  display: inline-block;
}

