:host {
    height: -moz-max-content;
    height: max-content;
    align-self: center;
    width: -moz-fit-content;
    width: auto;
    margin: 0;
    --word: 'САЙТ КОМПАНИИ';
    --main-bg-color: blue;
    --font-family: 'Rubik';
    --text-color: #FFFFFF;
    --font-size: 14px;
    --font-weight: 500;
    --line-height: 17px;
    --stroke-width: 0;
    --stroke-color: black;
    --speed: 1s;
    --easing: ease-in-out;
    --animation-direction: normal;
    --padding: .25em;
    --margin: 1vh;
    --letter-spacing: 0em;
    --opacity: 0;
}

p {
    margin: 0;
    padding: 0;
    border: 0.10834vw solid var(--gray-100per);
    cursor: pointer;
    text-align: center;
}

p.undefined {
    font-size: 1.1vw;
    color: #000;
    cursor: pointer;
    box-sizing: border-box;
    padding: .2vw;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

p.auction-data__header_button {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: #758a7a;
    border-radius: .2vw;
    color: #fff;
    box-sizing: border-box;
    padding: .4vw;
    font-size: 1.1vw;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

p.active {
    text-shadow: rgb(0, 0, 0, 0.3) 0 0 1.5vw;
    background: var(--red-sand);;
}

p.welcome__header_link {
    box-sizing: border-box;
    padding: 0.3vw;
    cursor: pointer;
}


.word {
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    perspective: 100px;
    font-weight: var(--font-weight);
    color: var(--text-color);
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    margin-right: var(--margin);
    margin-left: var(--margin);
    -webkit-text-fill-color: var(--text-color);
    -webkit-text-stroke-width: var(--stroke-width);
    -webkit-text-stroke-color: var(--stroke-color);
    cursor: pointer;
}

.word__item {
    /*-webkit-animation-duration: var(--speed);*/
    /*animation-duration: var(--speed);*/
    /*-webkit-animation-timing-function: var(--easing);*/
    /*animation-timing-function: var(--easing);*/
    /*-webkit-animation-iteration-count: 1;*/
    /*animation-iteration-count: 1;*/
    /*-webkit-animation-direction: var(--animation-direction);*/
    /*animation-direction: var(--animation-direction);*/
    padding: 0 var(--padding);
}

.word__item {
    -webkit-animation-duration: var(--speed);
    animation-duration: var(--speed);
    -webkit-animation-timing-function: var(--easing);
    animation-timing-function: var(--easing);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: var(--animation-direction);
    animation-direction: var(--animation-direction);
}

.word__item:after {
    content: var(--word);
}

.word__item--left {
    transform-origin: center left;
    -webkit-animation-name: shrinkx;
    animation-name: shrinkx;
}

.word__item--right {
    transform-origin: center right;
    -webkit-animation-name: growx;
    animation-name: growx;
    position: absolute;
    right: 0;
    top: 0;
}

@-webkit-keyframes shrinkx {
    from {transform: scalex(1) skewx(0deg); opacity: 1}
    to {
        font-weight: bold;
        transform: scalex(0) skewx(0); opacity: var(--opacity)
    }
}

@keyframes shrinkx {
    from {transform: scalex(1) skewx(0deg); opacity: 1}
    to {transform: scalex(0) skewx(0); opacity: var(--opacity)}
}

@-webkit-keyframes growx {
    from {transform: scalex(0) skewx(0); opacity: var(--opacity)}
    to {transform: scalex(1) skewx(0) ; opacity: 1}
}

@keyframes growx {
    from {transform: scalex(0) skewx(0); opacity: var(--opacity)}
    to {transform: scalex(1) skewx(0) ; opacity: 1}
}

@-webkit-keyframes wordAnim {
    0% {transform: translate3d(-100px, 0, 0) rotate(-10deg) scale(1)}
    50% {transform: translate3d(100px, 0, 0) rotate(10deg) scale(.5)}
    100% {transform: translate3d(-100px, 0, 0) rotate(-10deg) scale(1)}
}

@keyframes wordAnim {
    0% {transform: translate3d(-100px, 0, 0) rotate(-10deg) scale(1)}
    50% {transform: translate3d(100px, 0, 0) rotate(10deg) scale(.5)}
    100% {transform: translate3d(-100px, 0, 0) rotate(-10deg) scale(1)}
}
