:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1
}

section#api-relation {
    padding: 0;
    width: 100%
}

section#api-relation div.api-relation {
    box-sizing: border-box;
    padding: 0;
    width: auto;
}

section#api-relation div.api-relation div.api {
    /*background-color: rgba(76, 100, 153, .8705882353);*/
    align-self: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
    padding: 0 0 0 1vw;
}

section#api-relation div.api-relation div.api div.api-matcher {
    width: 100%
}

section#api-relation div.api-relation div.api div.api-matcher label.api-matcher {
    width: 100%;
    font-family: Roboto, serif;
    position: relative;
    text-align: left;
    color: #fff;
    margin-bottom: 1vw;
    cursor: text
}

section#api-relation div.api-relation div.api div.api-matcher input.api-matcher {
    border: none;
    /*min-height: 4vw;*/
    margin-top: 0.3vw;
    outline: none;
    padding: 0.15vw;
    margin-bottom: .15vw;
    width: 100%;
    font-family: Roboto, serif;
    cursor: pointer
}

section#api-relation div.api-relation div.api div.api-matcher input.api-matcher:focus {
    border-color: gray;
    border-radius: .5vw
}

section#api-relation div.api-relation-wallet {
    display: flex;
    flex-grow: 1
}