:host{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100vh;
}

.root {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

@media only all and (max-width: 767px) {

}

@media all and (min-width: 768px) and (max-width: 1368px) {

}

@media all and (min-width: 1025px) { }
