:host {
	width: 100%;
	background-size: cover;
	overflow: hidden;
	margin: 0;
	padding: 0;
	--speedAnimationImageTop: 1500;
	--speedAnimationImageBottom: 2000;
	--speedAnimationContent: 2000;
}

p {
	font-family: "Raleway", serif;
	font-size: 1.14583vw;
	font-weight: 700;
	line-height: 1.5625vw;
	color: white;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 800;
	font-size: 6.25vw;
	line-height: 7.34375vw;
	text-transform: uppercase;
	margin: 0;
}

.cifromed p {
	text-align: center;
}

.welcome-finale {
	display: flex;
	position: absolute;
	top: 0;
	z-index: 0;
	background: transparent;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.content-final {
	margin-bottom: 12.55208vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.final-h2 {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 1.5625vw;
	line-height: 1.875vw;
	text-transform: uppercase;
}

.final-p {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.14583vw;
	line-height: 1.5625vw;
	width: 40.41667vw;
}

.final-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 39.0625vw;
	font-family: "Raleway", serif;
	font-size: 0.72917vw;
	font-weight: 500;
	line-height: 0.88542vw;
	letter-spacing: 0;
	text-align: left;
	text-transform: uppercase;
	cursor: pointer;
}

.teaser {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	/*background: #0000cc;*/
}

.teaser-finale {
	display: flex;
	flex-direction: column;
}

.teaser .content, .teaser .first-page {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;
}

.textAlign-left {
	text-align: left!important;
}

.width-649 {
	width: 33.02083vw!important;
	align-self: start;
}

.parallax {
	position: absolute;
	padding: 0;
	width: auto;
}

img, .parallax img {
	min-width: 100vw;
}

/*.parallax > img {*/
/*	mix-blend-mode: multiply;*/
/*}*/

.first-page {
	/*background: #00bb00;*/
}

.fer-scroll {
	height: 2.60417vw;
	width: 3.125vw;
	position: absolute;
	align-self: center;
	bottom: 2.23958vw;
}

.description {
	--offset: 0;
	transform: translateY(var(--offset));
}

.description {
	position: relative;
	/*-webkit-backdrop-filter: blur(8px);*/
	/*        backdrop-filter: blur(8px);*/
	/*background: rgba(0, 0, 0, 0.3);*/
	/*box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12);*/
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 49.01042vw;
	align-self: center;
	height: 100vh;
	justify-content: center;
	padding: 0 2.13542vw;
	box-sizing: border-box;
}

.description::before {
	/*background-color: rgb(166, 36, 36);*/
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	-webkit-backdrop-filter: blur(0.41667vw);
	        backdrop-filter: blur(0.41667vw);
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0.41667vw 0.9375vw -0.3125vw rgba(24, 39, 75, 0.12);
}

div[class*="description-without-background"] {
	position: relative;
	/*-webkit-backdrop-filter: blur(8px);*/
	/*        backdrop-filter: blur(8px);*/
	/*background: rgba(0, 0, 0, 0.3);*/
	/*box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12);*/
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 49.01042vw;
	align-self: center;
	height: 100vh;
	justify-content: center;
	padding: 0 2.13542vw;
	box-sizing: border-box;

	background: unset;
	box-shadow: unset;
	-webkit-backdrop-filter: unset;
	        backdrop-filter: unset;
	position: relative;
}

div[class*="background-item-1"] {
	padding: 0;
	width: 30.88542vw;
}

div[class*="background-item-2"] {
	padding: 0;
	width: 37.5vw;
}

div[class*="background-item-3"] {
	padding: 0;
	width: 60.10417vw;
	align-self: flex-end;
	margin-right: 10.57292vw;
}

div[class*="background-item-4"] {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0px;
	width: 36.19792vw;
	align-self: end;
	margin: 7.03125vw 9.63542vw 0 0;
}
.description-without-background-resources {
	width: 68.02083vw;
}

.description-title {
	font-family: "Raleway", serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.25vw;
	line-height: 1.45833vw;
	text-transform: uppercase;
	margin-bottom: 0.52083vw;
}

.title-item_0 {
	font-family: 'Raleway', serif;
	font-style: normal;
	line-height: 1.45833vw;
	font-size: 1.5625vw;
	font-weight: 800;
	margin-bottom: 1.45833vw;
}

.description-text {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.14583vw;
	line-height: 1.5625vw;
	/*text-align: left;*/
	margin-bottom: 0.625vw;
}

.description-content {
	text-align: center;
}

.description-content-end, .description-content-end-last {
	font-family: 'Raleway', serif;
	margin-top: 1.25vw;
	font-weight: 700;
	margin-bottom: 0;
	text-align: center;
}

.end-font-style {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.25vw;
	line-height: 1.45833vw;
	margin-top: 1.35417vw;
}

.end-font-style-general {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.25vw;
	line-height: 1.45833vw;
	text-transform: uppercase;
}

.end-font-style-general-name {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.14583vw;
	line-height: 1.45833vw;
	margin: 0.41667vw 0 0;
}

.description-content-end-last {
	margin: 0;
}

.description-page, description-page-section-2 {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 4.16667vw;
	line-height: 4.89583vw;
	text-transform: uppercase;
	position: relative;
	text-align: left;

}

.description-page-section-2 {
	width: inherit;
	align-self: flex-start;
	position: relative;
}

ul[class*="description-ul"] {
	position: absolute;
	font-family: Raleway, serif;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 0.72917vw;
	font-style: normal;
	font-size: 1.25vw;
	line-height: 1.45833vw;
	top: 58%;
	left: 100%;
	margin: 0 0 0 1.25vw;
	width: 19.0625vw;
}

ul[class*="ul-1"] {
	margin-left: 2.91667vw;
}

ul[class*="ul-2"] {
	width: 29.11458vw;
	left: 96%;
}

ul[class*="ul-3"] {
	width: 23.95833vw;
	left: 63%;
}


.opacity {
	position: absolute;
}


.description-ul-resources {
	right: -9.11458vw;
}

.description-about-compeny, .description-about-resources {
	width: 30.88542vw;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 4.16667vw;
	line-height: 4.89583vw;
	text-transform: uppercase;
}

.description-about-resources {
	width: unset;
	/*width: 60.10417vw;*/
	text-align: left;
	align-self: flex-start;
	/*margin-right: -7.08333vw;*/
}

.description-without-background-thanks {
	align-self: flex-end;
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 800;
	font-size: 1.5625vw;
	line-height: 1.82292vw;
	text-align: right;
	text-transform: uppercase;

	position: absolute;
	width: 33.59375vw;
	height: 13.33333vw;
	left: 52.96875vw;
	top: 11.40625vw;
}

.description-page-content-item-4 {
	padding: 1.51042vw 1.30208vw;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0.41667vw 0.9375vw -0.3125vw rgba(24, 39, 75, 0.12);
	-webkit-backdrop-filter: blur(0.41667vw);
	        backdrop-filter: blur(0.41667vw);
}

.description-text-item-4 {
	font-size: 1.30208vw;
}

.text-1 {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 800;
	font-size: 1.5625vw;
	line-height: 1.82292vw;
	text-align: right;
	text-transform: uppercase;
}

.text-2 {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.04167vw;
	line-height: 1.82292vw;
	text-align: right;
}

ul > li {
	text-transform: math-auto;
}

.descriptionUp2 {
	transform: translateY(-100vh);
	transition: transform 1.5s ease-in;
}

.descriptionDown2 {
	transform: translateY(30vh);
	transition: transform 2.15s ease-in-out;
}

.descriptionDown {
	transform: translateY(0vh);
	transition: transform 2s ease-in-out;
}

.descriptionUp {
	transform: translateY(-150vh);
	transition: transform 2.15s ease-in;
}

.image-general {
	position: absolute;
	display: flex;
	flex-direction: column;
	min-width: unset;
	z-index: 20;
	opacity: 0;
	transition: opacity 1s ease-in 0.5s;
	bottom: 0px;
	left: 22.29167vw;
	align-self: center;
	height: 100vh;
	justify-content: flex-end;
}

.image-general-src {
	min-width: unset;
	-o-object-fit: scale-down;
	   object-fit: scale-down;
	-o-object-position: center bottom;
	   object-position: center bottom;
	height: 92%;
	width: 45.41667vw;
}

div[class*="section-item"] {
	justify-content: flex-start;
	margin-top: 3.95833vw;
}

.text-style {
	font-family: 'Raleway', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.14583vw;
	line-height: 1.5625vw;
}

.description-feedback {
	align-self: end;
	margin-top: 2.1875vw;
}

.margin25 {
	margin-bottom: 1.30208vw;
}