:host {
    width: 100%;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#root {
    display: grid;
    grid-template-areas:
    "header header header"
    "article article article"
    "footer footer footer";
    grid-template-rows: 4.01042vw 1fr 4.01042vw;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 0;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

header, footer, article, nav, div {
    padding: 0.52083vw;
}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
}

#pageFooter p {
    margin: 0;
    box-sizing: border-box;
}

#mainArticle {
    grid-area: article;
    padding: 0;
    margin: 0;
}

#mainNav {
    grid-area: nav;
}

#siteAds {
    grid-area: ads;
}

.welcome__book {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 100vh;
}
