:root {
    --brassica: #758a7a;
    --fir: #859d85;
    --Lime: #00ff00;
    --Coral: #d31919;
    --Thunderbird: #d31a1a;
    --Apricot: #efb769;
    --red-sand: #efb76a;
    --gap: 0.1vw;
    --images: 12vw;
    --card-width: 18vw;
    --border: 0.1vw;
    --margin: 2vw;
    --border-radius: 0.2vw;
    --margin-gap: 0.4vw;
    --padding-preview: 1vw;
    --margin-bottom: 1vw;
    --size1: 0.2vw;
    --size2: 0.6vw;
    --size3: 1vw;
    --size4: 1.4vw;
    --size5: 2vw;
    --size6: 2.4vw
}