:host {
    align-self: center;
}

p.save {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.36458vw 0.57292vw;

    width: 7.8125vw;
    height: 2.34375vw;
    background: #00A0A8;
    border-radius: 0.41667vw;
    margin: 0;
    box-sizing: border-box;
}

p.cancel {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.625vw;
    line-height: 0.72917vw;
    text-transform: uppercase;
    color: #00A0A8;
    margin: 0;
    box-sizing: border-box;
}