<template id="welcomebook">
    <body>
    <div class="welcome__book">
        <slot name="fer-dialog"></slot>
        <slot name="welcome-header"></slot>
        <slot name="fer-scroll"></slot>
        <slot name="welcome-menu"></slot>
        <slot name="welcome-animation"></slot>
        <div class="welcome-body">
            <section class='slider parallax-container-on' data-id="0">
                <slot name="welcome-section-0"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="1">
                <slot name="welcome-section-1"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="2">
                <slot name="welcome-section-2"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="3">
                <slot name="welcome-section-3"></slot>
            </section>
            <section class='slider parallax-container-off' data-id="4">
                <slot name="welcome-section-4"></slot>
            </section>
        </div>
        <div
                data-id="1"
                data-section="1_0"
                class="welcome-body_section_1_0"
                style="display: none"
        >
            <section data-id="1">
                <slot name="welcome-section_1_0"></slot>
            </section>

        </div>
        <div
                data-id="2"
                data-section="2_0"
                class="welcome-body_section_2_0"
                style="display: none"
        >
            <section data-id="2">
                <slot name="welcome-section_2_0"></slot>
            </section>
        </div>
        <div
                data-id="3"
                data-section="3_0"
                class="welcome-body_section_3_0"
                style="display: none"
        >
            <section data-id="3">
                <slot name="welcome-section_3_0"></slot>
            </section>
        </div>
    </div>

    <welcome-header
            data-services-path="welcomebook"
            slot="welcome-header"
    >
        <img class='welcome__logo' src="./this/icons/logo.svg"/>
        <div class="welcome__wrapper">
            <div class="welcome__link"></div>
        </div>
    </welcome-header>

    <fer-scroll
            data-services-path="welcomebook"
            data-css-shadow="arrow"
            slot="fer-scroll"
            class="index-cat"
    >
        <div class="relative-container">
            <div class="arrow" data-id="logo">
                <slot name="welcome-logo"></slot>
            </div>
            <div class="arrow" data-id="top">
                <div class="arrow_container">
                    <span class="arrow_offset"></span>
                    <span class="arrow_offset"></span>
                    <span class="arrow_offset"></span>
                </div>
            </div>
            <div class="arrow" data-id="bottom">
                <div class="arrow_container">
                    <span class="arrow_offset"></span>
                    <span class="arrow_offset"></span>
                    <span class="arrow_offset"></span>
                </div>
            </div>
            <div class="arrow" data-id="left">
                <div class="arrow_container">
                    <span class="arrow_offset"></span>
                    <span class="arrow_offset"></span>
                    <span class="arrow_offset"></span>
                </div>
            </div>
            <div class="arrow" data-id="right">
                <div class="arrow_container">
                    <span class="arrow_offset"></span>
                    <span class="arrow_offset"></span>
                    <span class="arrow_offset"></span>
                </div>
            </div>
        </div>

        <welcome-logo
                data-services-path="welcomebook"
                slot="welcome-logo"
        >
            <div class="flex-container">
                <div class="welcome-logo">
                    <div class="square-buttom">
                        <p class="square-title">больше</p>
                    </div>
                </div>

                <ol class="ltr">
                    <li data-id="1_0">Структура компании</li>
                    <li data-id="1_1">Мы занимаемся</li>
                    <li data-id="1_2">Наши ценности</li>
                </ol>
                <ol class="rtl">
                    <li data-id="1_0">Структура компании</li>
                    <li data-id="1_1">Мы занимаемся</li>
                    <li data-id="1_2">Наши ценности</li>
                </ol>
                <ol reversed class="ltr-btt">
                    <li data-id="1_0">Структура компании</li>
                    <li data-id="1_1">Мы занимаемся</li>
                    <li data-id="1_2">Наши ценности</li>
                </ol>
                <ol reversed class="rtl-btt">
                    <li data-id="1_0">Структура компании</li>
                    <li data-id="1_1">Мы занимаемся</li>
                    <li data-id="1_2">Наши ценности</li>
                </ol>
            </div>
        </welcome-logo>
    </fer-scroll>

    <welcome-menu
            data-services-path="welcomebook"
            slot="welcome-menu"
    >
        <div class="container">
            <div class="body-item_square">
                <div class="square-buttom"></div>
            </div>
            <div class="body">
                <div class="body-item">
                    <slot name="button__0_0"></slot>
                </div>
                <div class="body-item">
                    <slot name="button__0_1"></slot>
                </div>
                <div class="body-item">
                    <slot name="button__1"></slot>
                </div>
                <div class="body-item">
                    <slot name="button__2"></slot>
                </div>
                <div class="body-item">
                    <slot name="button__3"></slot>
                </div>
                <div class="body-item">
                    <slot name="button__4"></slot>
                </div>
            </div>
        </div>
        <fer-button
                data-services-path="welcomebook"
                slot="button__0_0"
                data-id="0__0_0"
                data-type="welcome-menu"
                data-css-shadow="menu"
        >
            <p>Старт</p>
        </fer-button>
        <fer-button
                data-services-path="welcomebook"
                slot="button__0_1"
                data-id="0__0_1"
                data-type="welcome-menu"
                data-css-shadow="menu"
        >
            <p>Приветствие</p>
        </fer-button>
        <fer-button
                data-services-path="welcomebook"
                slot="button__1"
                data-id="1"
                data-type="welcome-menu"
                data-css-shadow="menu"
        >
            <p>Важное о компании</p>

        </fer-button>

        <fer-button
                data-services-path="welcomebook"
                slot="button__2"
                data-id="2"
                data-type="welcome-menu"
                data-css-shadow="menu"
        >
            <p>Корпоративная культура</p>
        </fer-button>

        <fer-button
                data-services-path="welcomebook"
                slot="button__3"
                data-id="3"
                data-type="welcome-menu"
                data-css-shadow="menu"
        >
            <p>Ресурсы и документы</p>
        </fer-button>

        <fer-button
                data-services-path="welcomebook"
                slot="button__4"
                data-id="4"
                data-type="welcome-menu"
                data-css-shadow="menu"
        >
            <p>Спасибо</p>
        </fer-button>
    </welcome-menu>

    <welcome-section
            data-services-path="welcomebook"
            data-id="0"
            children
            slot="welcome-section-0"
    >
        <div class='parallax'>
            <img src='./this/img/pg0.png'/>
        </div>
        <div class='teaser'>
            <div class='first-page'>
                <div class="description">
                    <div class="image-general">
                        <img class="image-general-src" src='./this/img/general/index.png'/>
                    </div>
                    <div class="content">
                        <p class="description-title">Привет!</p>
                        <p class="description-title">Мы рады приветствовать тебя в команде</p>
                        <h1 class="margin--bottom">Цифромед</h1>
                        <div class="description-content">
                            <p class="description-text bold margin--bottom">
                                Приветствуем тебя в команде Цифромед!
                            </p>
                            <p class="description-text">
                                Для того, чтобы ты смог быстрее освоиться в нашей Компании и уверенно ориентироваться в
                                новой обстановке, мы подготовили этот Welcome Book.
                            </p>
                            <p class="description-text">
                                В нем содержится ключевая информация, необходимая в первые месяцы работы: о Цифромеде,
                                нашей структуре, особенностях организации работы, корпоративных возможностях и полезных
                                контактах.
                            </p>
                            <p class="description-text margin--bottom">
                                Уверены, что после прочтения, ты получишь ответы на многие вопросы!
                            </p>
                            <p class="description-text bold">
                                Желаем успехов и всегда остаемся на связи!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="welcome-section_children_0">
                <div class='teaser'>
                    <div class='first-page'>
                        <div class="description section-item_0">
                            <div class="content width-649 textAlign-left">
                                <p class="description-title title-item_0"> Уважаемый коллега!</p>
                                <div class="description-content textAlign-left">
                                    <p class="description-text text-style">
                                        Мы рады видеть тебя в нашей команде. Наша компания реализует масштабные
                                        федеральные
                                        и региональные проекты. Их успех во многом связан с людьми, которые работают в
                                        Цифромеде.
                                    </p>
                                    <p class="description-text description-text-width description-text-margin-unset">
                                        Наши совместные действия, сплоченность и преданность общему делу позволяют
                                        компании
                                        развиваться, достигать амбициозных целей. Мы ценим талант каждого сотрудника, и
                                        разделяем общие ценности нашей команды.

                                    </p>
                                    <p class="description-text description-text-width-2 description-text-margin-unset">
                                        Надеемся, что наша компания станет важной
                                        составляющей твоего личностного и профессионального роста.

                                    </p>
                                    <p class="description-content-end end-font-style textAlign-left">
                                        Добро пожаловать в команду!
                                    </p>
                                    <p class="description-content-end end-font-style-general textAlign-left">
                                        Владимир Пасынков
                                    </p>
                                    <p class="description-content-end end-font-style-general-name textAlign-left">
                                        Генеральный директор
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </welcome-section>

    <welcome-section
            data-services-path="welcomebook"
            data-id="1"
            slot="welcome-section-1"
    >
        <div class='parallax image-background'>
            <img class="image-scale" src='./this/img/pg2.png'/>
        </div>
        <img class="image-scale opacity" src='./this/img/pg2.png'/>
        <div class='teaser'>
            <div class='content'>
                <div class="description-without-background-item-1">
                    <div class="description-page">
                        <p class="text-offset description-about-compeny"></p>
                        <ul class="text-offset description-ul-1">
                            <li data-id="1_0">Структура компании</li>
                            <li data-id="1_1">Единая цифровая платформа</li>
                            <li data-id="1_2">Наши проекты</li>
                            <li data-id="1_3">Наши ценности</li>
                            <li data-id="1_4">График работы</li>
                            <li data-id="1_5">Дресс-код</li>
                            <li data-id="1_5">Зарплата и отпуск</li>
                            <li data-id="1_6">Корпоративные преимущества</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </welcome-section>

    <welcome-section   data-services-path="welcomebook" data-id="2" slot="welcome-section-2">
        <div class='parallax image-background'>
            <img class="image-scale" src='./this/img/pg3.png'/>
        </div>
        <img class="image-scale opacity" src='./this/img/pg3.png'/>
        <div class='teaser'>
            <div class='content'>
                <div class="description-without-background-item-1">
                    <div class="description-page">
                        <p class="text-offset description-about-compeny"></p>
                        <ul class="text-offset description-ul-1">
                            <li data-id="2_0">Внутренняя коммуникация</li>
                            <li data-id="2_1">Программа рекомендаций</li>
                            <li data-id="2_2">Корпоративные праздники</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </welcome-section>

    <welcome-section  data-services-path="welcomebook" data-id="3" slot="welcome-section-3">
        <div class='parallax image-background'>
            <img class="image-scale" src='./this/img/pg4.png'/>
        </div>
        <img class="image-scale opacity" src='./this/img/pg4.png'/>
        <div class='teaser'>
            <div class='content'>
                <div class="description-without-background-item-3">
                    <div class="description-page">
                        <p class="text-offset description-about-resources description-about-resources-4"></p>
                        <ul class="text-offset description-ul-3">
                            <li data-id="3_0">Ресурсы и оборудование</li>
                            <li data-id="3_1">Пропускная система</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </welcome-section>

    <welcome-section data-services-path="welcomebook" data-id="4" slot="welcome-section-4">
        <div class='parallax image-background'>
            <img class="image-scale" src='./this/img/pg5.png'/>
        </div>
        <img class="image-scale opacity" src='./this/img/pg5.png'/>
        <div class='teaser'>
            <div class='content'>
                <div class="description-without-background-item-4">
                    <div class="description-page-content-item-4">
                        <p
                                class="text-offset description-text-item-4 text-1"
                        >
                            Спасибо,
                        </p>
                        <p
                                class="text-offset margin25 description-text-item-4 text-1"
                        >
                            что прочел наш welcome book!
                        </p>
                        <p
                                class="text-offset description-text-item-4 text-2"
                        >
                            Нам важно твое мнение о нем. Помоги нам сделать его лучше и полезнее для новых коллег. Ты
                            можешь
                            предложить новые разделы, ссылки или порекомендовать, что можно доработать или изменить. О
                            своих
                            предложениях ты можешь сообщить в HR отдел :)
                        </p>
                    </div>
                    <secton class="description-feedback">
                        <slot name="welcome-feedback"></slot>
                    </secton>
                </div>
            </div>
        </div>

        <welcome-feedback data-services-path="welcomebook" slot="welcome-feedback">
            <div class="container">
                <div class="container-name">
                    <label for="name">Имя</label>
                    <input type="text" id="name"/>
                    <img class="feedback-icon" src="./this/icons/input_name.svg">
                </div>
                <div class="container-information">
                    <textarea placeholder="Добавьте ваши комментарии..."
                              class="container-information-textarea"></textarea>
                </div>
                <div class="form__buttons">
                    <slot name="fer-form__cancel"></slot>
                    <slot name="fer-form__save"></slot>
                </div>
            </div>

            <fer-button
                    data-services-path="welcomebook"
                    data-type="fer-form"
                    data-id="cancel"
                    slot="fer-form__cancel"
                    data-css-shadow="welcome"
            >
                <p class="cancel">Отмена</p>
            </fer-button>
            <fer-button
                    data-services-path="welcomebook"
                    data-type="fer-form"
                    data-id="save"
                    slot="fer-form__save"
                    data-css-shadow="welcome"
            >
                <p class="save">Сохранить</p>
            </fer-button>
        </welcome-feedback>
    </welcome-section>


    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="1_0"
            slot="welcome-section_1_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>структура компании</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body'>
                    <p class='paragraph has-animation'>
                        Компания была образована в 2019 году как центр компетенций цифрового здравоохранения. Сегодня Цифромед является головной компанией
                        <span class="bold">Кластера «Медицина»</span>
                        ПАО Ростелеком.
                    </p>

                    <p class='paragraph has-animation'>
                        Наша компания разделена
                        <span class="bold">на Бизнес-единицы</span>
                        - функциональные подразделения, отвечающие за реализацию проектов в своих зонах ответственности.
                    </p>
                    <div class="content__welcome-section_1_0">
                        <div class="item__welcome-section_1_0">
                            <p>
                                Федеральный
                                проектный офис
                            </p>
                        </div>
                        <div class="item__welcome-section_1_0">
                            <p>
                                Региональный
                                проектный офис
                            </p>
                        </div>
                        <div class="item__welcome-section_1_0">
                            <p>
                                Ведомственный
                                проектный офис
                            </p>
                        </div>
                        <div class="item__welcome-section_1_0">
                            <p>
                                Дирекция
                                управления данными
                            </p>
                        </div>
                        <div class="item__welcome-section_1_0">
                            <p>
                                Техническая
                                дирекция
                            </p>
                        </div>
                        <div class="item__welcome-section_1_0">
                            <p>
                                Операционная
                                дирекция
                            </p>
                        </div>
                        <div class="item__welcome-section_1_0">
                            <p>
                                Бэк-офис
                            </p>
                        </div>
                    </div>
                    <p class='paragraph-24 has-animation'>
                        Подробно со структурой компании и топ-менеджерами ты можешь познакомиться на
                        <span class="link">корпоративном портале</span>
                        .
                    </p>

                    <p class='paragraph-30 bold has-animation'>
                        Также в структуре Кластера есть несколько продуктовых компаний
                        <p class="paragraph-22">(мы их называем ДЗО – дочернее зависимое общество)</p>
                        .
                    </p>
                    <div class="footer__welcome-section_1_0">
                        <div class="item_footer__welcome-section_1_0">
                            <img  src="./this/img/sections/1/0/rtk_radiology.svg"/>
                        </div>
                        <div class="item_footer__welcome-section_1_0">
                            <img  src="./this/img/sections/1/0/rt_mis.svg"/>
                        </div>
                        <div class="item_footer__welcome-section_1_0">
                            <img  src="./this/img/sections/1/0/rt_kis.svg"/>
                        </div>
                        <div class="item_footer__welcome-section_1_0">
                            <img  src="./this/img/sections/1/0/rt_doctis.svg"/>
                        </div>
                        <div class="item_footer__welcome-section_1_0">
                            <img  src="./this/img/sections/1/0/rtk_element.svg"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_content_item_img_1_0"></div>
        </div>
    </welcome-section>


    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="1_1"
            slot="welcome-section_1_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_2'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>Единая цифровая платформа</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body section_content_body_2'>
                    <div class='section_content_body_item_2'>
                        <div class='section_content_card'>
                            <div class='section_content_card_top'>
                                <div class='section_content_img'>
                                    <img src="./this/img/sections/1/icons/00.png"/>
                                </div>
                                <div class='section_content_text section_content_text_1'>
                                    ФМБА России
                                </div>
                            </div>
                            <div class='section_content_card_bottom'>
                                Автоматизацией крупнейшей сети государственных клиник ФМБА России
                            </div>
                        </div>
                        <div class='section_content_card'>
                            <div class='section_content_card_top section_2'>
                                <div class='section_content_card_top section_2_height'>
                                    <img src="./this/img/sections/1/icons/01.png"/>
                                </div>
                                <div class='section_content_text_2'>
                                    <p class='section_content_text_2_0'>Федеральный фонд</p>
                                    <p class='section_content_text_2_1'>Обязательного медицинского страхования</p>
                                </div>
                            </div>
                            <div class='section_content_card_bottom'>
                                Созданием и развитием подсистем и компонентов ГИС ОМС
                            </div>
                        </div>
                        <div class='section_content_card'>
                            <div class='section_content_card_top'>
                                <img src="./this/img/sections/1/icons/02.svg"/>
                            </div>
                            <div class='section_content_card_bottom'>
                                Развитием кабинета Здоровье на Портале госуслуг совместно с Минцифрой России
                            </div>
                        </div>
                        <div class='section_content_card'>
                            <div class='section_content_card_top_2'>
                                <div class='section_content_card_top width-icon'>
                                    <img src="./this/img/sections/1/icons/04.svg"/>
                                </div>
                                <div class='section_content_text section_content_text_2_2 color-white'>
                                    ЕГИСЗ
                                </div>
                            </div>
                            <div class='section_content_card_bottom'>
                                Развитием архитектуры и технологий подсистем ЕГИСЗ для Минздрава России
                            </div>
                        </div>

                        <div class='section_content_card'>
                            <div class='section_content_card_top_3'>
                                <p class='section_content_card_top_logo_3'>ЕЦК</p>
                            </div>
                            <div class='section_content_card_bottom'>
                                Развитием Единого цифрового контура на базе продуктов дочерних копаний
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='section_content_item_img_1_1'></div>
        </div>
    </welcome-section>

    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="1_2"
            slot="welcome-section_1_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>наши проекты</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body'>
                    <p class='section_content_body_p  notFound has-animation'>
                        РАЗДЕЛ в разработке
                    </p>
                </div>
            </div>
            <div class='section_content_item_img_1_2'></div>
        </div>
    </welcome-section>

    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="1_3"
            slot="welcome-section_1_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0 section_height_1_1'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>НАШИ Ценности</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body section_body_3'>
                    <h3 class='section_content_text section_margin'>
                        В работе нам очень помогают наши корпоративные ценности. Мы уверены, что они пригодятся и тебе:
                    </h3>
                    <div class='section_content_body_item_3'>
                        <div class='section_content_card_03'>
                            <div class='section_content_card_top_03'>
                                <img src="./this/img/sections/1/1/01.svg"/>
                            </div>
                            <div class='section_content_card_bottom_03'>
                                <h4>
                                    Честность
                                </h4>
                                <p>
                                    Мы честны по отношению к себе и другим. Не боимся признавать свои ошибки и делиться
                                    информацией.
                                </p>
                            </div>
                        </div>

                        <div class='section_content_card_03'>
                            <div class='section_content_card_top_03'>
                                <img src="./this/img/sections/1/1/02.svg"/>
                            </div>
                            <div class='section_content_card_bottom_03'>
                                <h4>
                                    Эффективность
                                </h4>
                                <p>
                                    Мы постоянно развиваемся, ориентируемся на результат и предлагаем свои идеи и
                                    решения.
                                </p>
                            </div>
                        </div>

                        <div class='section_content_card_03'>
                            <div class='section_content_card_top_03'>
                                <img src="./this/img/sections/1/1/03.svg"/>
                            </div>
                            <div class='section_content_card_bottom_03'>
                                <h4>
                                    Сотрудничество
                                </h4>
                                <p>
                                    Сотрудничайте с коллегами и помогайте им для достижения поставленных целей.
                                </p>
                            </div>
                        </div>

                        <div class='section_content_card_03'>
                            <div class='section_content_card_top_03'>
                                <img src="./this/img/sections/1/1/04.svg"/>
                            </div>
                            <div class='section_content_card_bottom_03'>
                                <h4>
                                    Профессионализм
                                </h4>
                                <p>
                                    Мы выполняем свою работу от начала и до конца. Стремимся не говорить «нельзя», а
                                    искать варианты «как».
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class='section_content_item_img_1_3'></div>
        </div>
    </welcome-section>


    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="1_4"
            slot="welcome-section_1_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>график работы</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body'>
                    <p class='section_content_body_p  notFound has-animation'>
                        РАЗДЕЛ в разработке
                    </p>
                </div>
            </div>
            <div class='section_content_item_img_1_4'></div>
        </div>
    </welcome-section>

    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="1_5"
            slot="welcome-section_1_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>Дресс-код</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body'>
                    <p class='section_content_body_p  notFound has-animation'>
                        РАЗДЕЛ в разработке
                    </p>
                </div>
            </div>
            <div class='section_content_item_img_1_5'></div>
        </div>
    </welcome-section>

    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="1_6"
            slot="welcome-section_1_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>зарплата и отпуск</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body'>
                    <p class='section_content_body_p  notFound has-animation'>
                        РАЗДЕЛ в разработке
                    </p>
                </div>
            </div>
            <div class='section_content_item_img_1_6'></div>
        </div>
    </welcome-section>

    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="1_7"
            slot="welcome-section_1_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>корпоративные преимущества</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body'>
                    <p class='section_content_body_p  notFound has-animation'>
                        РАЗДЕЛ в разработке
                    </p>
                </div>
            </div>
            <div class='section_content_item_img_1_7'></div>
        </div>
    </welcome-section>


    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="2_0"
            slot="welcome-section_2_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>внутренняя коммуникация</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body'>
                    <p class='section_content_body_p  notFound has-animation'>
                        РАЗДЕЛ в разработке
                    </p>
                </div>
            </div>
            <div class='section_content_item_img_2_0'></div>
        </div>
    </welcome-section>

    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="2_1"
            slot="welcome-section_2_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>Программа рекомендаций</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body'>
                    <p class='section_content_body_p  notFound has-animation'>
                        РАЗДЕЛ в разработке
                    </p>
                </div>
            </div>
            <div class='section_content_item_img_2_1'></div>
        </div>
    </welcome-section>

    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="2_2"
            slot="welcome-section_2_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>Корпоративные праздники</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body'>
                    <p class='section_content_body_p  notFound has-animation'>
                        РАЗДЕЛ в разработке
                    </p>
                </div>
            </div>
            <div class='section_content_item_img_2_2'></div>
        </div>
    </welcome-section>


    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="3_0"
            slot="welcome-section_3_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>ресурсы и оборудование</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body'>
                    <p class='section_content_body_p  notFound has-animation'>
                        РАЗДЕЛ в разработке
                    </p>
                </div>
            </div>
            <div class='section_content_item_img_3_0'></div>
        </div>
    </welcome-section>


    <welcome-section
            data-services-path="welcomebook"
            data-css-shadow="section"
            data-id="3_1"
            slot="welcome-section_3_0"
    >
        <div class='section_content'>
            <div class='hasAnimation section_content_item_0'>
                <div class='section_content_header'>
                    <p class='section_content_header_p_left'></p>
                    <p class='section_content_header_p'>ПРОПУСКНАЯ СИСТЕМА</p>
                    <p class='section_content_header_p_right'></p>
                </div>
                <div class='section_content_body'>
                    <p class='section_content_body_p  notFound has-animation'>
                        РАЗДЕЛ в разработке
                    </p>
                </div>
            </div>
            <div class='section_content_item_img_3_1'></div>
        </div>
    </welcome-section>

    <div slot="welcome-animation" class="animation">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
    </body>
</template>
